modules/dxp/apps/sharepoint-soap/sharepoint-soap-connector/wsdl/versions.wsdl

<?xml version="1.0"?>

<wsdl:definitions targetNamespace="http://schemas.microsoft.com/sharepoint/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://schemas.microsoft.com/sharepoint/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/sharepoint/soap/">
			<s:import namespace="http://www.w3.org/2001/XMLSchema" />
			<s:element name="GetVersions">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="fileName" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetVersionsResponse">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="GetVersionsResult">
							<s:complexType mixed="true">
								<s:sequence>
									<s:any/>
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="RestoreVersion">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="fileName" type="s:string" />
						<s:element maxOccurs="1" minOccurs="0" name="fileVersion" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="RestoreVersionResponse">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="RestoreVersionResult">
							<s:complexType mixed="true">
								<s:sequence>
									<s:any/>
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="DeleteVersion">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="fileName" type="s:string" />
						<s:element maxOccurs="1" minOccurs="0" name="fileVersion" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="DeleteVersionResponse">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="DeleteVersionResult">
							<s:complexType mixed="true">
								<s:sequence>
									<s:any/>
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="DeleteAllVersions">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="fileName" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="DeleteAllVersionsResponse">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="DeleteAllVersionsResult">
							<s:complexType mixed="true">
								<s:sequence>
									<s:any/>
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="GetVersionsSoapIn">
		<wsdl:part element="tns:GetVersions" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetVersionsSoapOut">
		<wsdl:part element="tns:GetVersionsResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="RestoreVersionSoapIn">
		<wsdl:part element="tns:RestoreVersion" name="parameters" />
	</wsdl:message>
	<wsdl:message name="RestoreVersionSoapOut">
		<wsdl:part element="tns:RestoreVersionResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteVersionSoapIn">
		<wsdl:part element="tns:DeleteVersion" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteVersionSoapOut">
		<wsdl:part element="tns:DeleteVersionResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteAllVersionsSoapIn">
		<wsdl:part element="tns:DeleteAllVersions" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DeleteAllVersionsSoapOut">
		<wsdl:part element="tns:DeleteAllVersionsResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="VersionsSoap">
		<wsdl:operation name="GetVersions">
			<wsdl:input message="tns:GetVersionsSoapIn" />
			<wsdl:output message="tns:GetVersionsSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="RestoreVersion">
			<wsdl:input message="tns:RestoreVersionSoapIn" />
			<wsdl:output message="tns:RestoreVersionSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="DeleteVersion">
			<wsdl:input message="tns:DeleteVersionSoapIn" />
			<wsdl:output message="tns:DeleteVersionSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="DeleteAllVersions">
			<wsdl:input message="tns:DeleteAllVersionsSoapIn" />
			<wsdl:output message="tns:DeleteAllVersionsSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="VersionsSoap" type="tns:VersionsSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetVersions">
			<soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/GetVersions" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RestoreVersion">
			<soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/RestoreVersion" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteVersion">
			<soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/DeleteVersion" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteAllVersions">
			<soap:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/DeleteAllVersions" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="VersionsSoap12" type="tns:VersionsSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetVersions">
			<soap12:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/GetVersions" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RestoreVersion">
			<soap12:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/RestoreVersion" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteVersion">
			<soap12:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/DeleteVersion" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteAllVersions">
			<soap12:operation soapAction="http://schemas.microsoft.com/sharepoint/soap/DeleteAllVersions" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Versions">
		<wsdl:port binding="tns:VersionsSoap" name="VersionsSoap">
			<soap:address location="http://localhost/_vti_bin/Versions.asmx" />
		</wsdl:port>
		<wsdl:port binding="tns:VersionsSoap12" name="VersionsSoap12">
			<soap12:address location="http://localhost/_vti_bin/Versions.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>